@using FourTwenty.Core.Extensions
@using FourTwenty.Dashboard.Areas.Dashboard.Models.Navbars
@model FourTwenty.Dashboard.Areas.Dashboard.Models.Navbars.LeftNavbarItem


@if (Model.IsSeparator)
{
    <li class="nav-title">@Model.DisplayName</li>
}
else
{
    if (Model.IsParent)
    {
        <li class="nav-item nav-dropdown">

            @if (!string.IsNullOrEmpty(Model.Action))
            {
                <a href="#" class="nav-link nav-dropdown-toggle" data-html="true">
                    <i class="@Model.ImageClass"></i> @Model.DisplayName.Truncate(18) <i class="fa fa-caret-left"></i>
                </a>
            }
            else
            {
                <a href="#" class="nav-link nav-dropdown-toggle">
                    <i class="@Model.ImageClass"></i> @Model.DisplayName.Truncate(18) <i class="fa fa-caret-left"></i>
                </a>
            }



            <ul class="nav-dropdown-items">
                @foreach (LeftNavbarItem item in Model.Children)
                {
                    <partial name="Components/LeftNavbar/_LeftNavbarItem" model="@item" />
                }
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link @Model.ActiveCss" asp-controller="@Model.Controller" asp-action="@Model.Action" asp-area="@Model.Area" asp-all-route-data="@Model.Parameters">
                <i class="@Model.ImageClass"></i> @Model.DisplayName.Truncate(18)
            </a>
        </li>

    }
}
