@using FourTwenty.Core.Extensions
@using FourTwenty.Dashboard.Areas.Dashboard.Models.Navbars
@model TopNavbarOptions

<nav class="navbar page-header">
    <a href="#" class="btn btn-link sidebar-mobile-toggle d-md-none mr-auto">
        <i class="fa fa-bars"></i>
    </a>

    <a class="navbar-brand" asp-action="Index" asp-controller="Home" asp-area="">
        @if (string.IsNullOrEmpty(Model.TitleImageUrl))
        {
            @:@Model.Title
        }
        else
        {
            <img src="@Model.TitleImageUrl" style="height: 50px;" />
        }
    </a>

    <a href="#" class="btn btn-link sidebar-toggle d-md-down-none">
        <i class="fa fa-bars"></i>
    </a>

    <ul class="navbar-nav ml-auto">
        @if (Model.IsNotificationsEnabled)
        {
            <li class="nav-item d-md-down-none">
                <a href="#">
                    <i class="fa fa-bell"></i>
                    <span class="badge badge-pill badge-danger">5</span>
                </a>
            </li>
        }

        @if (Model.IsMessagesEnabled)
        {
            <li class="nav-item d-md-down-none">
                <a href="#">
                    <i class="fa fa-envelope-open"></i>
                    <span class="badge badge-pill badge-danger">5</span>
                </a>
            </li>
        }

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="@(!string.IsNullOrEmpty(User.GetPicture()) ? User.GetPicture() : Url.Content("~/images/placeholder-user.png"))" class="avatar avatar-sm" alt="logo">
                <span class="small ml-1 d-md-down-none">@User.Identity.Name</span>
            </a>
            @if (Model.MenuItems != null)
            {
                <div class="dropdown-menu dropdown-menu-right">
                    @foreach (BaseNavbarItem item in Model.MenuItems)
                    {
                        if (item.IsSeparator)
                        {
                            if (!string.IsNullOrEmpty(item.DisplayName))
                            {
                                <div class="dropdown-header">@item.DisplayName</div>
                            }
                            else
                            {
                                <div class="dropdown-divider"></div>
                            }
                        }
                        else
                        {
                            <a class="dropdown-item" asp-controller="@item.Controller" asp-action="@item.Action" asp-area="@item.Area" asp-route-id="@item.Parameters">
                                <i class="@item.ImageClass"></i> @item.DisplayName
                            </a>
                        }
                    }
                </div>

            }
            @*<div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header">Account</div>
                    <a href="#" class="dropdown-item">
                        <i class="fa fa-user"></i> Profile
                    </a>

                    <a href="#" class="dropdown-item">
                        <i class="fa fa-envelope"></i> Messages
                    </a>

                    <div class="dropdown-header">Settings</div>

                    <a href="#" class="dropdown-item">
                        <i class="fa fa-bell"></i> Notifications
                    </a>

                    <a href="#" class="dropdown-item">
                        <i class="fa fa-wrench"></i> Settings
                    </a>

                    <a href="#" class="dropdown-item">
                        <i class="fa fa-lock"></i> Logout
                    </a>
                </div>*@
        </li>
    </ul>
</nav>